body{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: centers;
    
    
}
.title{
    display: flex;
    justify-content: center;
    font-size: 3em;
}

#gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-bottom: 100px;
    
}


.square{
    display: flex;
    float: left;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    width: 25%; 
    height: 40%;
    text-align: center;
    font-size: 80px;
}

#controls, #msg{
    margin-left: 7em;
}